.route {
    background: rgb(31,38,103);
    background: linear-gradient(165deg, rgba(31,38,103,1) 0%, rgba(103,31,79,1) 100%);
    min-height: 100vh;
}

header.masthead {
    background: transparent;
}

#app-body {
    padding-top: 100px;
    background: transparent;
}